.letter{
    transition: color 2000ms;
    font-size: x-large;
    font-weight: 900;
    font-size: calc(30px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
}
.Job{
    text-align: center;
    max-width:fit-content;
    float: left;
    font-style: oblique;
    font-size: xx-large;
}
.HireDiv{
    background-image: 'img src="assets/imgs/man2.png" class="about-img" alt="Portfolio Pic" ';
}
.profile-picture{
    float: right;
    margin-left: 0;
}
.jobHiring{
    color: green;
    text-align: center;
    font-size: large;
    float: right;
    font-weight: 800;
}
.inro{
    transition: color 2000ms;
    font-size: xx-large;
    font-weight: 600;
}
.footer{
    text-align: center;
    display: flow-root;
    padding-top: 2em;
    color:chocolate
    
}
#more {
    display: none;
}
#myBtn{
    display: contents;
    color:green;
}
.HireDivInPortfolio{
    font-style: italic;
    background-color: beige;
    padding: 0.5em;
}
.ProjectCommand{
    font-size: large;
    color:blueviolet;
    margin-bottom: 2em;
    margin-top: -1.5em;
}
.educate{
    color:coral;
    font-size: smaller;
}
.EducationDiv{
    text-align: left;
}
.education-caption{
    text-align: left;
}
#educationButton{
    display: contents;
    color:green;
}
.educationTitle{
    margin-bottom: 5%;
}
.phone-img{
    min-height: 1em;
    max-height: 2em;
}
.dates{
    margin-left:35%;
    color:green;
    font-weight: 600;
    margin-right: 4em;
} 
.degree{
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 11em;
    padding-top: -10%;
}
.eductionText{
    font-weight: 700;
    color:chocolate;
    background-color:gold
}
.portfolio-card-img .hover{
    background-color: red;
}
.skills{
    text-align: left;
    margin-top: -2em;
}
.concepts{
    color: blueviolet;
    font-size:medium;
    font-weight: 500;
}
.technicalSkill{
    color: green;
    margin-top: -9em;
    font-size: large;
    font-weight: 600;
  
    width: 10em;
}
.listItems{
    display: contents;
}
.experienceDates{
    color:coral;
}
#expBtn{
    display: contents;
    color:green;
}
.gitHub{
    display: flex;
}
.resume{
    color:aqua;
    font-size: medium;
    font-weight: 600;
}
#aboutButton{
    border-radius: 20px;
}
.linksToExplore{
    margin-top: 0.5em;
    font-size: larger;
}
.text-center {
    text-align: center !important;
  }

.projectImages{
    float: left;
    padding-left: 1px;
    margin-left: 1px;

}
.contactList{
    padding: 1%;
}


