.letter{
    transition: color 2000ms;
    font-size: xx-large;
    font-weight: 900;
    font-size: calc(40px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
}
.Job{
    text-align: center;
    max-width:fit-content;
    float: left;
    font-style: oblique;
    font-size: xx-large;
}
.HireDiv{
    background-image: 'img src="assets/imgs/man2.png" class="about-img" alt="Portfolio Pic" ';
}
.profile-picture{
    float: right;
    margin-left: 0;
}
.jobHiring{
    color: green;
    text-align: center;
    font-size: large;
    float: right;
    font-weight: 800;
}

.inro{
    transition: color 2000ms;
    font-size: x-large;
    font-weight: 500;
}